body{
  margin: 0;
  padding:0;
}
#cine{
position: relative;
top: -50px;
  font-size: 180%;
  font-weight: 400;
  font-family: cursive;
  color: yellow;
}
#first_row{
position: fixed;
height: 70px;
width: 100%;
background-color: #4527a0;
z-index: 2}
#Home{
float: left;
padding: 15px 0px 9px 20px;
}
a{
text-decoration: none;
}

a:hover{
text-decoration: underline;
}
#sell{
float: left;
margin: 10px 0px 9px 40px;
font-size: 150%;
color: white;
font-weight: bold;
}

#buy{
float: left;
margin: 10px 100px 9px 120px;
font-size: 150%;
font-weight: bold;
}
#Icon{

padding:10px 40px 9px 0px;
}
#notify{
position: fixed;
left: 920px;
top: 10px;
border-radius: 50%;
}
#Location{
position: fixed;
left: 1100px;
top: 10px;
border-radius: 50%;
}
#Account{
position: fixed;
left: 1000px;
top: 10px;
border-radius: 80%;

}
.circle {
border-radius: 50%;
}
#Second_row{
position: fixed;
top: 70px;
height: 110px;
width: 100%;
background-color: #e0e0e0;
z-index: 2;
}
.Bolly{
position: relative;
left: 570px;
top: 30px;
font-size: 250%;
font-weight: 800;
font-family: cursive;
color: yellow;
}
#third-row1{
position: absolute;
top: 160px;
left: 40px;
margin: 20px 50px 00px 50px;
z-index: 0;
}
#book1{
position: absolute;
top:340px;
left: -3px;
}
#third-row2{
position: absolute;
top: 570px;
left: 40px;
padding: 20px 50px 20px 50px;
z-index: 0;}

#book2{
position: absolute;
top:920px;
left: 85px;
}
#third-row3{
position: absolute;
top: 970px;
left: 40px;
padding: 20px 50px 20px 50px;
z-index: 0;
}
#book3{
position: absolute;
top:1330px;
left: 85px;
}

#third-row4{
position: absolute;
top: 160px;
left: 440px;
padding: 20px 50px 20px 50px;
z-index: 0;
}
#book4{
position: absolute;
top: 520px;
left: 490px;
}
#third-row5{
position: absolute;
top: 570px;
left: 440px;
padding: 20px 50px 20px 50px;
z-index: 0;}
#book5{
position: absolute;
top:920px;
left: 490px;
}
#third-row6{
position: absolute;
top: 970px;
left: 440px;
padding: 20px 50px 20px 50px;
z-index: 0;}
#book6{
position: absolute;
top: 1330px;
left: 490px;
}
#third-row7{
position: absolute;
top: 160px;
left: 840px;
padding: 20px 50px 20px 50px;
z-index: 0;
}
#book7{
position: absolute;
top:520px;
left: 890px;
}
#third-row8{
position: absolute;
top: 570px;
left: 840px;
padding: 20px 50px 20px 50px;
z-index: 0;}
#book8{
position: absolute;
top:920px;
left: 890px;
}
#third-row9{
position: absolute;
top: 970px;
left: 840px;
padding: 20px 50px 20px 50px;
z-index: 0;}
#book9{
position: absolute;
top:1330px;
left: 890px;
}
